<main class="container">
  <div class="cart-page">
    <div class="title-status">
      <h3 class="title">Nákupný košík</h3>
    </div>
    <div class="cart-items-section-container">
      @if (cartItems().length > 0) {
      <div class="cart-table">
        <div class=" cart-items">
          @for (item of cartItems(); track $index) {
          <div class="cart-item">
            <img class="item-image" [src]="item.image ? item.image : '/assets/default.jpg'" alt="{{ item.name }}" />
            <div class="item-details">
              <h2 class="item-name">{{ item.name }}</h2>
              <p class="item-price">{{ item.price | currency }}</p>
              <button class="remove-button button" (click)="removeItem(item)">Zrusit</button>
            </div>
          </div>
          }
        </div>
        <div class="cart-total">
          <div class="row-value">
            <span class="total-label">Suma:</span>
            <p class="total-price">{{ currancyNumber | currency }}</p>
          </div>
          <div class="row-value">
            <span class="total-label">Zlava:</span>
            <p class="total-price">{{ "0" | currency }}</p>
          </div>
          <div class="row-value">
            <span class="total-label">Doprava:</span>
            <p class="total-price">{{ "0" | currency }}</p>
          </div>
          <hr>
          <div class="row-value">
            <span class="total-label">Celkova suma:</span>
            <p class="total-price">{{ currancyNumber | currency }}</p>
          </div>
        </div>
      </div>
      } @else {
      <p class="empty-cart-message">Tvoj kosik je prazdny.</p>
      }
    </div>

    @defer (on interaction(toNextBtn)) {
      @if (activesection() >= 1) {
        <hr>
        <app-cart-section-one #sectionOne (formSubmit)="setPersonalInfo($event)"></app-cart-section-one>
      }
      @if (activesection() >= 2) {
        <hr>
        <app-cart-section-two></app-cart-section-two>
      }
      @if (activesection() >= 3) {
        <hr>
        <app-cart-section-three></app-cart-section-three>
      }
    }
    <button class="button" (click)="toNextSection()" #toNextBtn>{{btnTitle}}</button>

  </div>
</main>
