@import '../../../styles.scss';

.card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .card-body {
        flex: 1;
        padding: 16px;
        background-color: $accent-color;
        color: $text-color;

        .card-title {
            font-size: 1.5rem;
            margin-bottom: 8px;
            color: $text-color;
        }
    }
}