<div class="print-item-detail">
    <div class="image-container">
        <img class="image" [src]="itemData().image ? itemData().image : '/assets/default.jpg'" alt="{{ itemData().name }}" />
    </div>
    <div class="info-container">
        <h1 class="title">{{ itemData().name }}</h1>
        <p class="category"><b>{{'Kategoria:' | uppercase}}</b> {{ stateService.getCorectCollection(itemData().category)?.title }}</p>
        <p class="description"><b>{{'Popis:' | uppercase}}</b> {{ itemData().description }}</p>
        <p class="price">Cena: {{ itemData().price | currency }}</p>
        <br>
        <div class="action-buttons">
            <button class="button" (click)="addToCart(itemData())">Kupit</button>
            <button class="button buttonBack" (click)="goBack()">Spat</button>
        </div>
    </div>
</div>
