section {
    padding: 16px;

    .cards {
        justify-content: space-between;
    }

    h1 {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .cards {
        justify-content: center !important;
    }
}