<app-billboard></app-billboard>
<main class="container">
    <section>
        <h1>Novinky</h1>
        <div class="products-grid cards">
            @for (item of sectionNewCards(); track $index) {
                <app-card [cardInfo]="item"></app-card>
            }
            @empty {
                <p>Žiadne novinky momentálne nie sú dostupné.</p>
            }
        </div>
    </section>
    <section>
        <h1>Kolekcia</h1>
        <div class="products-grid">
            @for (item of sectionCollectionsCards(); track $index) {
                <app-collection [collection]="item"></app-collection>
            }
            @empty {
                <p>Žiadne kolekcie momentálne nie sú dostupné.</p>
            }
        </div>
    </section>
    <section>
        <h1>Oblubene</h1>
        <div class="products-grid cards">
            @for (item of sectionFavoritesCards(); track $index) {
                <app-card [cardInfo]="item"></app-card>
            }
            @empty {
                <p>Žiadne obľúbené produkty momentálne nie sú dostupné.</p>
            }
        </div>
    </section>
</main>
