<header class="dashboard-header">
    <div class="dashboard-header-content">
        <div class="logo"><img src="assets/logo.jpg" alt="Silver Wolf Print Logo"></div>
        <span class="dashboard-header-title">Silver Wolf Print</span>
        <app-search></app-search>
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']">Domov</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products/all']">Produkty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about-us']">Ako to funguje?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>