@use  '../../../styles.scss' as *;

.billboard {
    background-image: url('/assets/billboard.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;

    .empty {
        flex: 2;
    }

    .billboard-content {
        flex: 2;
        color: $primary-color;
        padding: 20px;

        h1 {
            color: $primary-color !important;
            font-size: 2rem;
        }

        p {
            width: 75%;
        }

        .button {
            margin-top: 2rem;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 1.5rem;
            }

            p {
                width: 100%;
            }
        }
    }
}